<h1>Welcome <%= @user.name %></h1>

<p>Your upcoming events:</p>

<ul class="events">
<%= render 'upcoming' %>
</ul>

<p>Your previous events:</p>

<ul class="events">
<%= render 'previous' %>
</ul>

<% if @events.any? %>
  <% @events.each do |event| %>
    <% if event.date >= Date.today %>
      <p>Events you are hosting:</p>
        <ul class="events">
          <li>
          <%= link_to event.name, event_path(event) %>
         </li>
    <% elsif event.date <= Date.today %>
      <p>Events you hosted:</p>
        <ul class="events">
          <li>
          <%= link_to event.name, event_path(event) %>
         </li>
    <% end %>
        </ul>
  <% end %>
<% end %>
