<h1><%= @event.name %></h1>

<h3>Hosted by <%= link_to @event.creator.name, user_path(@event.creator) %></h3>
<datetime>Date: <%= @event.date %></datetime>

<% if @event.date >= Date.today %>
  <%= form_for(current_user.attendances.build(event_id: @event.id)) do |f| %>
    <%= f.hidden_field :event_id, value: @event.id %>
    <%= f.submit "Attend Event" %>
  <% end %>
<% end %>

<p>Current list of attendees:</p>

  <ul>
  <% @attendees.each do |attendee| %>

  <li><%= link_to attendee.name, user_path(attendee) %></li>
  </ul>
  <% end %>
<% else %>


